<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="evolution-navbar">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="createCogsProgram"><a th:href="@{/evolution/create-cogs}">Create COGs</a></li>
                        <li id="concatenate"><a th:href="@{/evolution/concatenate}">Concatenate MSAs</a></li>
                        <li id="get-repr-proteins"><a th:href="@{/evolution/get-repr-proteins}">Select representative sequences</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="evolution-create-cogs">
        <div class="col-md-8 my-textarea">
            <div class="row">
                <label class="btn btn-default btn-lg">
                    Choose Files <input id="first-file" type="file" style="display: none" multiple/>
                </label>
                <span class='label label-info' id="first-file-info"></span>
            </div>
            <div class="row">
                <button id="Go" class="btn btn-primary btn-md pull-right" type="button">
                    <span>Go!</span>
                </button>
            </div>
        </div>
    </div>

    <div th:fragment="evolution-createCogs-filter">
        <div class="col-md-2 panel panel-default">
            <div class="panel-body">
                <p class="text-primary">Set options:</p>
                <div class="form-group">
                    <form id="first">
                        <small>File delimiter:</small>
                        <select id="first-delim" class="form-control input-sm">
                            <option selected='selected' disabled="disabled">select</option>
                            <option>tab</option>
                            <option>comma</option>
                            <option>semicolon</option>
                            <option>vertical bar</option>
                        </select>
                        <small>File column:</small>
                        <input id="first-col" name="first-col" type="text" class="form-control input-sm"/>
                        <small>Identity threshold:</small>
                        <input id="identity-threshold" name="identity-threshold" type="text" class="form-control input-sm"/>
                        <small>Coverage threshold:</small>
                        <input id="coverage-threshold" name="coverage-threshold" type="text" class="form-control input-sm"/>
                        <small>E-value threshold:</small>
                        <input id="evalue-threshold" name="evalue-threshold" type="text" class="form-control input-sm"/>
                        <small>Merge:</small>
                        <label class="radio-inline">
                            <input name="merge" type="radio" value="yes" checked="checked" />yes
                        </label>
                        <label class="radio-inline">
                            <input name="merge" type="radio" value="no"/>no
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>