<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>
        <div th:fragment="main-navbar">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bu-navbar">
                            <span class="sr-only">Toggle Dropdown</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@{/home}" style="font-size:120%; color:#D8F0E3">Bioinformatics Universe</a>
                    </div>

                    <div class="navbar-collapse" id="bu-navbar">
                        <ul class="nav navbar-nav">
                            <li id="home"><a th:href="@{/home}">Home</a></li>
                            <li id="sequence"><a th:href="@{/sequence}">Sequence</a></li>
                            <li id="domain"><a th:href="@{/domain}">Domain</a></li>
                            <li id="evolution"><a th:href="@{/evolution}">Evolution</a></li>
                            <li id="blast"><a th:href="@{/blast}">Blast </a></li>
                            <li id="protocols"><a th:href="@{/protocols}">Protocols </a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="help"><a th:href="@{/help}">Help</a></li>
                            <li id="about"><a th:href="@{/about}">About</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-nav-bar"></div>
            </nav>

            <div style="display: none">
                <span id="tab" th:text="${tab}"></span>
            </div>

        </div>



        <div th:fragment="evolution-navbar">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li id="create-cogs"><a th:href="@{/evolution/create-cogs}">Create COGs</a></li>
                            <li id="concatenate"><a th:href="@{/evolution/concatenate}">Concatenate MSAs</a></li>
                            <li id="get-repr-proteins"><a th:href="@{/evolution/get-repr-proteins}">Select representative sequences</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div th:fragment="evolution-navbar">

            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li id="make-unique"><a th:href="@{/sequence/make-unique}">Make Unique</a></li>
                            <li id="get-by-name"><a th:href="@{/sequence/get-by-name}">Get By Name</a></li>
                            <li id="delete-by-name"><a th:href="@{/sequence/delete-by-name}">Delete By Name</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="sequence-get-by-name">
            <div class="col-md-4 my-textarea">
                <div class="row">
                    <textarea id="first-file-area" class="form-control" placeholder="Paste names" required rows=8> </textarea>
                </div>
                <div class="row">
                    OR <br />
                    <label class="btn btn-default">
                        Choose File <input id="first-file" type="file" style="display: none">
                    </label>
                    <span class='label label-info' id="first-file-info"></span>
                </div>
            </div>
            <div class="col-md-4 my-textarea">
                <div class="row">
                    <textarea id="second-file-area" class="form-control" placeholder="Paste sequences" required rows=8> </textarea>
                </div>
                <div class="row">
                    OR <br />
                    <label class="btn btn-default">
                        Choose File <input id="second-file" type="file" style="display: none">
                    </label> <span class='label label-info' id="second-file-info"></span>
                </div>
                <div class="row">
                    <button id="Go" class="btn btn-primary btn-md pull-right" type="button">
                        <span>Go!</span>
                    </button>
                </div>
            </div>
        </div>

        <div th:fragment="evolution-createCogs-filter">
            <div class="col-md-2 panel panel-default">
                <div class="panel-body">
                    <p class="text-primary">Set options:</p>
                    <div class="form-group">
                        <form id="first">
                            <small>File delimiter:</small>
                            <select id="first-delim" class="form-control input-sm">
                                <option selected='selected' disabled>select</option>
                                <option>tab</option>
                                <option>comma</option>
                                <option>semicolon</option>
                                <option>vertical bar</option>
                            </select>
                            <small>File column:</small>
                            <input id="first-col" name="first-col" type="text" class="form-control input-sm">
                            <small>Identity threshold:</small>
                            <input id="identity-threshold" name="identity-threshold" type="text" class="form-control input-sm">
                            <small>Coverage threshold:</small>
                            <input id="coverage-threshold" name="coverage-threshold" type="text" class="form-control input-sm">
                            <small>E-value threshold:</small>
                            <input id="evalue-threshold" name="evalue-threshold" type="text" class="form-control input-sm">
                            <small>Merge:</small>
                            <label class="radio-inline">
                                <input name="merge" type="radio" value="yes" checked >yes
                            </label>
                            <label class="radio-inline">
                                <input name="merge" type="radio" value="no">no
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="sequence-getByName-filter">
            <div class="col-md-2 panel panel-default">
                <div class="panel-body">
                    <p class="text-primary">Set options:</p>
                    <ul class="nav nav-pills nav-stacked">
                        <li>

                            <div class="form-group">
                                <form id ="first">
                                    <small>First file delimiter:</small>
                                    <select id="first-delim" class="form-control input-sm">
                                        <option selected='selected' disabled>select</option>
                                        <option>tab</option>
                                        <option>comma</option>
                                        <option>semicolon</option>
                                        <option>vertical bar</option>
                                    </select>
                                    <small>First file column:</small>
                                    <input id="first-col" name="first-col" type="text" class="form-control input-sm">
                                </form>
                            </div>

                        </li>
                        <li>

                            <div class="form-group">
                                <form id ="second">
                                    <small>Second file delimiter:</small>
                                    <select id="second-delim" class="form-control input-sm">
                                        <option selected='selected' disabled>select</option>
                                        <option>tab</option>
                                        <option>comma</option>
                                        <option>semicolon</option>
                                        <option>vertical bar</option>
                                    </select>
                                    <small>Second file column:</small>
                                    <input id="second-col" name="second-col" type="text" class="form-control input-sm">
                                </form>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="copy">
            &copy; 2011 The Good Thymes Virtual Grocery
        </div>

    </body>

</html>